@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

:root
{
    --primary-color:#ED5565;
    --text-color:#222831;    
    --form-bg-color:#FAF9F6;
}

*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "roboto", sans-serif;
}

body
{
    width:100%;
}

.content{
    display: block;
}

.top-content{
    margin: 2em 0;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 7em;
    padding-left: 7em;
}

.bottom-content{
    margin: 7em auto;
    max-width: 1200px;
    width: 90%;
    padding-left: 7em;
}


.header
{
    display: flex;
    justify-content: center;
    margin-top: 1em;
    border-bottom: 3px solid var(--text-color);
    padding-top: 0.3em;
    
}

.header h1 a
{
    text-decoration: none;
    color: var(--primary-color);
}


.outline-form
{
    display:flex;
    flex-flow:column;
    align-items: center;
    text-align: center;
    width: 25%;
    min-width: 500px;
   
    border: 1px solid var(--text-color);
    border-radius: 5px;
    background-color: var(--form-bg-color);
}

.title-form
{
    width: 100%;
    color: var(--text-color);
    background-color: var(--primary-color);
    border-bottom: 1px solid black;
}


.input-form
{
    width:100%;
    padding-bottom: 2em;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1em;
}



.tabs
{
    display: flex;
    background-color: var(--text-color);
    color: var(--form-bg-color);
    width: 100%;
    justify-content: space-evenly;
    padding: 0.4em 0;
}

.tabs label
{
    cursor: pointer;
}

.tabs label:hover
{
    border-bottom: 3px solid var(--primary-color);
}

.tabs input
{
    display: none;
}

.tabs input:checked + label
{
    border-bottom: 3px solid var(--primary-color);
}

.row
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    row-gap: 0.4em;
}

.row input
{
    padding:0.5em 0.2em;
    width:80%;
    text-align: right;
    border: 0;
    outline: 0;
    font-size: 14px;
}

.row .input-field
{
    background-color: white;
    border-radius: 5px;
    border: 1px solid var(--text-color);
    font-size: 14px;
    padding: 0 2em;
    width: 80%;
    min-width: 300px;
    display: flex; 
    justify-content: left;
    align-items: baseline;
}

.row .input-field span
{
    padding-left: 0.5em;
}

select.activity-levels
{
    padding: 0.5em;
    width: 80%;
    min-width: 300px;
}

button.calculate
{
    padding: 1em 0;
    
    font-weight: 900;
    color:var(--form-bg-color);
    background-color: var(--primary-color);

    width:50%;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    z-index: 2;
    transition: 0.22s ease-in;
}

button.calculate:hover
{
    background-color: var(--text-color);
    color: var(--form-bg-color);
}

.inactive
{
    display: none;
}

.col
{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-between;
}

.bmr-table{
    max-height: 200px;
    width:35%;
    min-width: 500px;
    border-collapse: collapse;
    border: 3px solid var(--text-color);
}

.bmr-table th{
    padding: 1em;
    background-color: #222831;
    color:#FAF9F6;
    font-weight: lighter;
    border-bottom: 2px solid var(--text-color);
}

.bmr-table th:first-child{
    border-right: 2px solid #FAF9F6;
}

.bmr-table .bmr-data td{
    padding:1em 0;
    text-align: center;
    border-right: 3px solid var(--text-color);
    border-bottom: 3px solid var(--text-color);
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}